.generate-form{
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 50px;
}

.url-input{
    min-width: 400px;
    width: 70%;
    max-width: 900px;
    padding: 8px 40px;
    border-radius: 8px;
    border: 0px;
    font-size: 20px;
    color: black;
    background-color: var(--text-input-background-color);
    text-align: center;
    align-self: flex-start;
}

.generate-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.generate-report-button, 
.generate-now-button,
.generate-later-button, 
.confirm-schedule-button{
    padding: 10px 20px;
    width:150px;
    text-wrap: nowrap
}

.generate-now-button,
.generate-later-button, 
.confirm-schedule-button{
   background-color: #1a1a1a;
}

.generate-report-button {
    text-wrap: nowrap;
    position: relative;
    z-index: 1;
}

.generate-report-button:hover{
    color:rgb(188, 188, 188)
}

.generate-report-button:focus{
    outline: 0px;
    border: 0px;
}

.schedule-container{
    display:flex;
    align-items: center;
    gap:1rem;
}

.date-label{
    text-wrap: nowrap;
}

.gradiant {
    background: linear-gradient(45deg, #7b2ff7, #4bb0ff);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}