.nav-bar {
  display: flex;
  gap: 3rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-left: 5%;
}

.nav-item,
.nav-item:visited {
  text-decoration: none;
  color: white;
  font-size: var(--header-buttons-font-size);
  font-family: "Lato", sans-serif;
  padding:4px;
}

.nav-item:hover{
  color:var(--hover-text-color)
}

.generate-report-button-container {
  position: relative;
}

.toggle-report-button {
  cursor: pointer;
  background-color: transparent;
  border:0px;
}

.toggle-report-button:focus{
  outline:0px;
  border:0px;
  padding:4px;
}

.report-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--dropdown-background-color);
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  z-index: 100;
}

.report-dropdown a {
  display: block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

.report-dropdown a:hover {
  color: rgb(186, 186, 186);
}

.nav-item:hover {
  color: var(--hover-text-color);
  border: 0px;
}
