.gradiant {
    background: linear-gradient(45deg, #7b2ff7, #4bb0ff);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;
  }
  
  .white {
    background-color: transparent; /* Makes the background transparent */
    border: 1px solid #ffffff; /* White border with 2px thickness */
    margin-left: 19.91%;
  }
  
  
  .button {
    /* height: 10.93%; */
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    /* height: 50%; */
    white-space: nowrap; 
   
    border-radius: 10px;
  }
  