.generate-page{
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
}

/*The background image is on the main section (middle section) for now, 
because if it is on the whole page, the footer will cover it*/

.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--main-background-color);
    background-image: url("../../assets/images/Landing Page.svg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    gap: 3rem;
    padding:0px 40px
}

.generate-title{
    align-self: center;
    margin-top: 50px;
    font-size: var(--header-title-font-size);
}

.youtube-title .highlight{
    color:rgb(217, 73, 73)
}

.maps-title .highlight{
    color:rgb(16, 165, 16)
}

.X-title .highlight{
    color:rgb(112, 112, 112)
}

