.generate-page{
    display: flex;
    flex-direction: column;    
    min-height: 100vh;

    
    background-color: var(--main-background-color);
    overflow: hidden;

}

/*The background image is on the main section (middle section) for now, 
because if it is on the whole page, the footer will cover it #4bb0ff,#7b2ff7 purple

*/

.main{
    display: flex;
    flex-direction: column;
    flex: 1;


    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    gap: 3rem;
    padding:0px 40px
}

.generate-title{
    align-self: center;
    margin-top: 50px;
    font-size: calc(20px + 1.5vw);
    color: white;
}

.report-message{
    align-self: center;
    font-size: calc(20px + 0.5vw);
}

.youtube-title .highlight{
    color:rgb(217, 73, 73)
}

.maps-title .highlight{
    color:rgb(16, 165, 16)
}

.tiktok-title .highlight{
    color:rgb(112, 112, 112)
}

.request-response{
    align-self: center;
    font-size: 32px;
}

