.homepage{
    background-color:var(--main-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.svges{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    height: fit-content;
}

.hero-title-container{
    font-size: 90px;
    font-size: 90px;
    min-width: 1200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    color: white;
}

.title-part1{
    color: white;
}

.title-part2{
    color: white;
    align-self: center;
}

.hero-image{
    height:700px;
    width: 100dvw;
    min-width: 1400px;
    opacity: 0.4;
}

.overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:6rem;
}

.introduction-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.introduction-title{
    font-size: 52px;
}

.introduction-description{
    font-size: 20px;
}

.user-types{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.user-card{
    display: flex;
    flex-direction: column;
    width:400px;
    gap: 0.5rem;
}

.user-type-logo{
    width: 200px;
    height: 200px;
}

.user-name{
    font-size: 40px;
    color:#53B7FF;
}

.user-description{
    font-size: 20px;
}

.report-introduction-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.report-introduction-title{
    font-size: 48px;
}

.report-info-container{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: center;   
    gap:3rem;
    width: 100%;
}

.report-info-logo{
    width:100px;
    height:100px;
}

.happy-logo{
    fill:green;
}

.neutral-logo{
    fill:yellow;
}

.sad-logo{
    fill:red
}

.eye-logo{

}

.report-info-section{
    font-size: 30px;
}

.platform-selection-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.platform-selection-title{
    font-size: 64px;
}

.platforms-container{
    display: flex;
    gap:8rem;
}

/* temp */
*{
    color:white
}