.homepage{
    background-color:var(--main-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.svges{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    height: fit-content;
}

.hero-title-container{
    font-size: 80px;
    min-width: 1200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    color: white;
}

.title-part1{
    color: white;
}

.title-part2{
    color: white;
    align-self: center;
}

.hero-image{
    height:700px;
    width: 100dvw;
    min-width: 1400px;
    opacity: 0.4;
}

.overview{
    display: flex;
    flex-direction: column;
    gap:3rem;
}

.introduction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.introduction-title{
    font-size: 48px;
    width:1200px
}

.introduction-description{
    font-size: 20px;
    width:800px
}

.user-types{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.user-card{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 0.5rem;
}

.user-type-logo{
    width: 200px;
    height: 200px;
    fill:#5F96BD;
}

.user-name{
    font-size: 40px;
    color:#53B7FF;
}

.user-description{
    font-size: 20px;
}

.report-introduction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-introduction-title{
    font-size: 48px;
}

.platform-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-between;
}

/* temp */
*{
    color:white
}