.homepage{
    background-color:var(--home-backgorund-color) ;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.svges{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
}

.hero-title-container{
    font-size: 80px;
    min-width: 1200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    color: white;
}

.title-part1{
    color: white;
}

.title-part2{
    color: white;
    align-self: center;
}

.hero-image{
    width: 100dvw;
    min-width: 1400px;
    height:700px;
    opacity: 0.4;
}

.overview{
    display: flex;
    flex-direction: column;
    gap:3rem;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-title{
    
}

.introduction-description{
}

.user-types{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.user-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.report-introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-between;
}

/* temp */
*{
    color:black
}