.user-page{
    display: flex;
    flex-direction: column;
    height:100dvh;
    background-color: var(--main-background-color);
}

.main{
    flex:1;
    background-color: var(--main-background-color);
    background-image: none;
    margin-bottom: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure overlay is on top */
  }