.interaction-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interaction-block.centered > * {
  text-align: center;
}
.interaction-block.centered {
  justify-content: center;
  align-items: center;
}
.interaction-block.left-aligned {
  justify-content: start;
  align-items: start;
}
.interaction-block.left-aligned > * {
  text-align: start;
}
.main-title {
  margin-top: 0;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 16px;
}
.description {
  color: #898ca9;
  font-size: 16px;
  margin-bottom: 36px;
  margin-top: 0;
}
