.footer{
    display: flex;
    justify-content: space-between;
    justify-self: end;
    background-color: var(--footer-background-color);
    padding:10px 20px;
}

.footer-title{
    font-size: var(--header-title-font-size);
}

.socials-container{
    display: flex;
    align-items: center;
    gap:1rem;
}

.social-logo{
    width: 40px;
}
