  .cardContainer{

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    /* align-items: center; */

  }
  
  .reportCard{
    
    list-style: none;
    text-align: center;
    color: white;
    border: 5px solid black;
    border-radius: 50px;
    max-width: 1090px;
    width: 100%;
    position: relative;
    background-color: blue;
    align-self: center;
 } 

 .youtube{
    color: red;
 }
