  .cardContainer{

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

  }
  
  .reportCard{
    
    list-style: none;
    text-align: center;
    color: white;
    font-family: lato;
    border-radius: 50px;
    max-width: 1000px;
    width: 100%;
    background-color: #1a1919;
    margin-top: 2.75%;
    max-height: 200px;
    padding:10px 5px
 } 

 .platform{
  color: white;
  font-family: lato;
  font-weight: bold;
  width: 130px;
  height: 23px;
  border: 5px solid none;
  border-radius: 50px;
  margin-left: 4%;
  margin-top: 10px;


 }
 .YouTube{
  background-color: red;
 }

 .TikTok{
  background-color: black;
 }

 .GoogleMaps{
  background-color: green;
 }

 .title {
  text-align: center;
  margin-top: 2.75%;
}

 .date{
  color: gray;
  margin-left: 5%;
 }

 .lastRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .delete{
  background-color: transparent;
  color: red;
  margin-right: 30px;
  transition: red 0.25s;
  
 }

 .submit_delete{
  color: white;
  background: red;
  padding: 10px 23px;
  margin: 0 2%;
 }

.delete:hover, .submit_delete:hover {
  border-color: red;
}

/* .delete:focus,
.delete:focus-visible, .submit_delete:focus, .submit_delete:focus {
  outline: 4px auto red;
} */

.view{
  background-color: transparent;
  color: white;
  padding: 0.6em 1em;
  transition: white 0.25s;
  
 }

 

.view:hover, .cancel:hover {
  border-color: white;
}

.view:focus,
.view:focus-visible {
  outline: 4px auto white;
}

.content{
  text-align: center;
  padding-top: 6px;
  font-weight: bold;
  font-size: 16px;
}




 
 
