/* #form-section{
    background-color: #FCFEFF;
    flex-basis: 50%; 
    border-top-right-radius: 15px;  
    border-bottom-right-radius: 15px;  
    display: flex;
    justify-content: center;
    align-items: center;


} */
#form{
    background-color:#1f1f23;
    flex-basis: 50%; 
    /* border-top-right-radius: 15px;  
    border-bottom-right-radius: 15px;  */
    /* width: 79%;
    height: 64.4%; */
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;         /* Center items horizontally */
}
#server-error{
    color: red;
    margin-top: 0;
    margin-bottom: 1%;
    font-weight: 600;
    /* background-color: rgb(255, 235, 231); */
}
@media (max-width: 800px) {
    #form {
        flex-basis: 100%;   /* This will hide the div */
    }
}