.feature-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:20px;
    margin-bottom: 300px;
}

@media (max-width: 1200px) {
    .feature-cards {      flex-direction: column;
    }
 
  }
  /* @media (max-width: 1250px) {
    .feature-cards {
      gap:15px;
    }
  } */