@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

.sentiment-scout {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 1rem; /* Adjust size as needed */
  color: #ffffff; /* White text color */
  letter-spacing: 0.15em;
  text-align: center;
  margin-left: 7%;

 
  padding: 10px; /* Space around the text */
  /* border-radius: 4px; Soft corners if desired */
}
header{
    height: 9.87vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
